server:
  port: 9999

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: patients-service
          uri: lb://PATIENTS-SERVICE
          predicates:
            - Path=/patients/**
          filters:
            - RewritePath=/patients/(?<segment>.*), /api/patients/${segment}

        - id: doctors-service
          uri: lb://DOCTORS-SERVICE
          predicates:
            - Path=/doctors/**
          filters:
            - RewritePath=/doctors/(?<segment>.*), /api/doctors/${segment}

        - id: appointments-service
          uri: lb://APPOINTMENTS-SERVICE
          predicates:
            - Path=/appointments/**
          filters:
            - RewritePath=/appointments/(?<segment>.*), /appointments/${segment}

        - id: billing-service
          uri: lb://BILLING-SERVICE
          predicates:
            - Path=/billing/**
          filters:
            # /billing/full/2  ->  /api/bills/full/2 sur le microservice
            - RewritePath=/billing/(?<segment>.*), /api/bills/${segment}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
