spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hospital?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
    open-in-view: false
  cloud:
    config:
          enabled: false

server:
  port: 8081

eureka:
  client:
    enabled: false
